  body{
    font-family: Tahoma, 'Noto Sans TC', "Microsoft Jhenghei", Verdana, sans-serif;
  }

  div.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  table {
    border-collapse: collapse;
    width: 70vw;
    height: 70vh;
  }

  tr{
    height: 87px;
  }

  table td {
    border: 1px solid #888;
    padding: 15px;
    width: 8vw;
  }

  tr:nth-child(1) {
    text-align: center;
    background: black;
    color: white;
    font-size: 1rem;
  }

  tr:nth-child(2) {
    text-align: center;
    background: #DDD;
  }

  td:nth-of-type(1){
    color: red;
  }
  
  td:nth-of-type(7){
    color: #00BB00;
  }

  a {
    text-decoration: none;
  }

  a:link {
    color: white;
  }

  a:visited {
    color: white;
  }
  
  a:hover {
    color: #00ffff;
  }
